# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
paint files/diamondgrapple.pdn
paint files/diamondgrapple.png
paint files/grapple layout.pdn
paint files/irongrapple.pdn
paint files/irongrapple.png
paint files/stonegrapple.pdn
paint files/stonegrapple.png
paint files/woodgrapple.pdn
paint files/woodgrapple.png
paint files/diamondnograpple.png
paint files/ironnograpple.png
paint files/stonenograpple.png
paint files/woodnograpple.png
